@model WebApplicationProjeto1.Models.Turma

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turma_nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turma_nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turma_cod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turma_cod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.turma_id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
