@model MART_Virtus.Models.Fornecedor

@{
    ViewData["Title"] = "Detalhes do fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FORNECEDORES</h1>

<div>
    <h4>Detalhes do Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_nomefantasia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_nomefantasia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_rua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_uf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornecedor_telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornecedor_telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.fornecedor_id" class="btn btn-info">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>

